@media only screen and (max-width: 550px) {
  .main-img {
    display: none;
  }
  .second_box {
    width: 70%;
    margin-inline: auto;
    margin-top: 2%;
  }
  .admin_heading {
    text-align: center;
  }
  .lower_body {
    display: grid;
  }
  .lower_body_box {
    width: 70%;
    margin-inline: auto;
    margin-top: 2%;
  }
}

@media only screen and (min-width: 550px) {
  .first_box {
    width: 100%;
  }
  .main-img {
    height: 25%;
    width: 25%;
  }
  .second_box {
    width: 50%;
    margin-inline: auto;
    margin-top: 2%;
  }
  .admin_heading {
    text-align: center;
  }
  .lower_body {
    display: grid;
  }
  .lower_body_box {
    width: 60%;
    margin-inline: auto;
    margin-top: 2%;
  }
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  .first_box {
    width: 55%;
  }
  .main-img {
    left: 50%;
    height: 30%;
    width: 29%;
  }
  .second_box {
    width: 30%;
    margin: 0;
  }
  .admin_heading {
    text-align: left;
  }
  .lower_body {
    display: flex;
  }
  .lower_body_box {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .first_box {
    width: 55%;
  }
  .main-img {
    left: 48%;
    height: 32%;
    width: 32%;
  }
  .second_box {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  .main-img {
    height: 35%;
    width: 30%;
  }
}

.header-content {
  justify-content: space-between;
  display: flex;
  background-color: #1e5a9e;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.doc-img {
  background-color: #1e5a9e;
  width: 85%;
  align-self: center;
}

.view {
  align-self: center;
}

main {
  max-width: 100%;
  margin-top: 2%;
}

.first_box {
  background-color: #a7bcdc;
  padding-block: 4%;
  text-align: center;
}

.first_box h3 {
  color: #01346f;
  font-size: 30px;
  font-style: italic;
}

.main-img {
  position: absolute;
  z-index: 100;
}

.second_box {
  background-color: #1e5a9e;
  padding-block: 4%;
  text-align: center;
}

.ul {
  width: max-content;
  margin-inline: auto;
}

li {
  text-align: left;
  color: white;
}

.admin_heading {
  margin: 2%;
  color: #b38309;
  font-family: Roboto Serif;
  font-size: 35px;
}

.lower_body {
  margin-top: 2%;
}

.lower_body_box {
  background-color: #e9e9f2;
  padding-top: 2%;
  padding-bottom: 6%;
}

.img_button {
  display: flex;
  margin-top: 5%;
  width: 85%;
  margin-left: 10%;
}

.lower_body_box button {
  border: none;
  margin-left: 5%;
  color: #041529;
  font-family: Roboto Serif;
  font-size: large;
  align-self: center;
}


.add_doctor_box {
  display: flex;
  margin-top: 2%;
}

.add_doctor_box_right {
  width: 50%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1.5em;
}

.add_doctor_box_left {
  margin-left: 15%;
  background-color: #35b409;
}

.add_doctor_menu {
  margin-top: 2%;
  background-color: white;
  display: grid;
  margin-left: 1%;
  margin-right: 1%;
}

.heading {
  margin: 2% 0 1% 0;
  font-family: 'Font Awesome 5 Free';
  font-style: italic;
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #000093;
  opacity: 0.7;
}

.addnew {
  background-color: #35B409;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border-color: #35B409;
  float: right;
  margin: 2% 10% 0 0;
}

.box {
  background-color: #DDDDECA6;
  height: 250px;
  width: 70%;
  margin: 1% 0 0 10%;
  color: #004798;
}

.box h4 {
  padding: 5px 0 0 5px;
  margin: 0;
}

.box h3 {
  padding-left: 20px;
  margin-top: 1%;
  margin-bottom: 0;
}

.box button {
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  float: right;
}

.edit {
  background-color: #000093;
  border-color: #000093;
}

.remove {
  background-color: red;
  border-color: red;
  margin-left: 5px;
  margin-right: 10px;
}

footer {
  position: fixed;
  top: max-content;
  bottom: 0;
  height: fit-content;
  background-color: #004798;
  width: 100%;
  margin: 0px;
  padding: 8px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
footer a{
  color: #fff;
}
