* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(../images/heading.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #004798;
  color: #fff;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

nav img {
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}

.menu a:hover,.dropdown:hover .dropbtn {
  background-image:linear-gradient(to right, #5dacec, #1160bb) ;
    border-radius: 8px;
    color: #fbfbfc;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 15px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #004798;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 15px;
}

.dropdown-content .link {
  float: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 200;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  height: 130px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 200;
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.popup h3 {
  margin-top: 0;
  padding: 2.5% 0% 8% 5%;
  color: #141974;
}

.popup .close {
  float: right;
  padding: 8px;
  color: #ffffff;
  border-radius: 8px;
  border-color: #ffffff;
  margin: 5px;
  transition: all 200ms;
  text-decoration: none;
  font-size: small;
}

.close:hover {
  cursor: default;
  font-weight: bolder;
  font-size: medium;
}

#out:hover {
  font-weight: bolder;
  font-size: medium;
}

.overlay button {
  float: right;
  padding: 8px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  margin: 5px;
}
.menu a.homeactive{
  background-image:linear-gradient(to right, #5dacec, #1160bb) ;
  border-radius: 8px;
  color: #fbfbfc;
}
#reminder{
  background-color: #ffffffc5;
  margin: 2%;
  border-radius: 8px;
  padding: 2%;
  height: fit-content;
}
@media only screen and (max-width: 770px) {
    .navbar{
    padding: 10px 10px;
  }
}
#GenerateReportForDoctor.modal{
  width: fit-content;
  padding: 0px 0px 10px 0px;
}
footer {
  position: fixed;
  top: max-content;
  bottom: 0;
  height: fit-content;
  background-color: #004798;
  width: 100%;
  margin: 0px;
  padding: 8px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
footer a{
  color: #fff;
}