* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    /* background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center; */
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  
  .container {
    background: linear-gradient(
                    to right bottom,
                    #ffffff,
                    #ffffff44);
    width: 50%;
    height: 60%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
   
  }
  .container::after {
    content: "";
    position: absolute;
   
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: center;
  }
  .container-signin, .container-signup {
    padding: 15%;
  }
  
  .container-signin input, .container-signup input,
  .container-signin button[type=submit], .container-signup button[type=submit] {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
    margin: 10px;
  }
  .container-signin input, .container-signup input {
    border: 2px solid #e1e2eb;
    font-size: 1rem;
    color: #656880;
    background-color: #e2eaf3;
  }
  .container-signin button[type=submit], .container-signup button[type=submit] {
    background-image: linear-gradient(to right, #5dacec, #1160bb);
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    margin-top: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  .container-signin:hover, .container-signup:hover {
    box-shadow: none;
  }
  a{
    text-decoration: none;
    color: #1160bb;
  }
  #signup, #signin {
    border: none;
    font-weight: bolder;
    font-size: medium;
    color: #1160bb;
  }
  .logo {
    position: absolute;
    top: 8%;
    color: #004798;
    z-index: 2;
  }

  @media only screen and (max-width: 768px){
    .container{
      width: 80%;
      height: 60%;
      grid-template-columns: 1fr;
    }
  
    .container img{
      display: none;
    }
  
  }
  