body {
  margin: 0;
}

* {
  font-family: 'Times New Roman';
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #004798;
  color: #fff;
  box-sizing: border-box;
  height: 65px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

nav img {
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}

.menu a:hover,.dropdown:hover .dropbtn {
  background-image:linear-gradient(to right, #5dacec, #1160bb) ;
  border-radius: 8px;
  color: #fbfbfc;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 15px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #004798;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 15px;
}

.dropdown-content .link {
  float: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 200;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  height: 130px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 200;
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.popup h3 {
  margin-top: 0;
  padding: 2.5% 0% 8% 5%;
  color: #141974;
}

.popup .close {
  float: right;
  padding: 8px;
  color: #ffffff;
  border-radius: 8px;
  border-color: #ffffff;
  margin: 5px;
  transition: all 200ms;
  text-decoration: none;
  font-size: small;
}

.close:hover {
  cursor: default;
  font-weight: bolder;
  font-size: medium;
}

#out:hover {
  font-weight: bolder;
  font-size: medium;
}

.overlay button {
  float: right;
  padding: 8px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  margin: 5px;
}

@media only screen and (max-width: 768px){
  .menu .homeactive{
    display: none;
  }

  .navbar{
    padding: 10px 10px;
  }

  button:hover {
    font-weight: 1000;
  }
}

.heading {
  text-align: center;
  font-family: 'Font Awesome 5 Free';
  font-style: italic;
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #000093;
  opacity: 0.7;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  width: 100%;
}

.content {
  display: inline-block;
  color: black;
  background-color: #C1D7F19C;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 2%;
  text-align: center;
}

input, #days {
  height: 40px;
  padding: 0 10px 0 15px;
  border-width: 2px;
  margin-bottom: 10px;
  color: black;
}

#days option {
  font-size: 16px;
  border-radius: 0;
}

#save_button {
  background-color: #000093;
  color: white;
  margin-left: 5%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-color: white;
}

@media all and (max-width: 770px) {
  .fields {
    display: grid;
  }
}

#schedule_table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.responsive-table {
  padding-left: 0;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}

.responsive-table .table-header {
  background-image:linear-gradient(to right, #f1f4f7, #d6d9db) ;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.264);
}

.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 10%;
}
.responsive-table .col-3 {
  flex-basis: 10%;
}
.responsive-table .col-4 {
  flex-basis: 10%;
}
.responsive-table .col-5 {
  flex-basis: 10%;
}
.responsive-table .col-6 {
  flex-basis: 10%;
}
.responsive-table .col-7 {
  flex-basis: 10%;
}
.responsive-table .col-8 {
  flex-basis: 10%;
}

@media all and (max-width: 770px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
    background-color: #e5ebf1;
    
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: rgb(23, 23, 23);
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

#remove_button{
  background-color: red;
  padding: 8px 14px;
  color: #ffffff;
  border-radius: 8px;
  border-color: #ffffff;
}

button:hover {
  font-weight: bolder;
}

footer p {
  display: contents;
}

footer p a {
  color: white;
  display: inline-block;
}